<html>
<body>
Welcome, Green-Thumber {{username}}!
<form action="create-plant" method="post">
    <input type="text" placeholder="Plant Type" name="planttype"/>
    <select name="plantsubtype">
        <option value="Tomato-Super 100">Tomato-Super 100</option>
        <option value="Tomato-Sun Gold">Tomato-Sun Gold</option>
        <option value="Tomato-Celebrity">Tomato-Celebrity</option>
        <option value="Cucumber-Marketmore">Cucumber-Marketmore</option>
        <option value="Lettuce-Buttercrunch">Lettuce-Buttercrunch</option>
        <option value="Lettuce-Arugula">Lettuce-Arugula</option>
        <option value="Carrot-Atomic Red">Carrot-Atomic Red</option>
        <option value="Cauliflower-Cheddar">Cauliflower-Cheddar</option>
    </select>
    <input type="number" placeholder="Time to Maturity" name="maturity"/>
    <button type="submit">Submit</button>
</form>
<form action="delete-plant" method="post">
    <input type="number" placeholder="Plant #" name="plantid"/>
    <button type="submit">Delete</button>
</form>
<form action="edit-plant" method="post">
    <input type="number" placeholder="Plant #" name="plantid"/>
    <input type="text" placeholder="Plant type" name="planttype"/>
    <select name="plantsubtype">
        <option value="Tomato-Super 100">Tomato-Super 100</option>
        <option value="Tomato-Sun Gold">Tomato-Sun Gold</option>
        <option value="Tomato-Celebrity">Tomato-Celebrity</option>
        <option value="Cucumber-Marketmore">Cucumber-Marketmore</option>
        <option value="Lettuce-Buttercrunch">Lettuce-Buttercrunch</option>
        <option value="Lettuce-Arugula">Lettuce-Arugula</option>
        <option value="Carrot-Atomic Red">Carrot-Atomic Red</option>
        <option value="Cauliflower-Cheddar">Cauliflower-Cheddar</option>
    </select>
    <button type="submit">Edit plant</button>
</form>
{{#plants}}
{{id}}. {{type}} - {{subtype}} - {{maturity}}<br>
{{/plants}}
</body>
</html>