<html>
<body>
Welcome, green-thumber {{username}}!
<form action="create-plant" method="post">
    <select name="planttype ">
        <option value="Tomato">Tomato</option>
        <option value="Cucumber">Cucumber</option>
        <option value="Lettuce">Lettuce</option>
        <option value="Carrot">Carrot</option>
        <option value="Cauliflower">Cauliflower</option>
    </select>
    <select name="plantsubtype ">
        <option value="Tomato-Super 100">Tomato-Super 100</option>
        <option value="Tomato-Sun Gold">Tomato-Sun Gold</option>
        <option value="Tomato-Celebrity">Tomato-Celebrity</option>
        <option value="Cucumber-Marketmore">Cucumber-Marketmore</option>
        <option value="Lettuce-Buttercrunch">Lettuce-Buttercrunch</option>
        <option value="Lettuce-Arugula">Lettuce-Arugula</option>
        <option value="Carrot-Atomic Red">Carrot-Atomic Red</option>
        <option value="Cauliflower-Cheddar">Cauliflower-Cheddar</option>
    </select>
</form>
</body>
</html>